Ressources/BaseSites.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema elementFormDefault="qualified"
			attributeFormDefault="unqualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="BASE_SITES">
	<xs:element name="SITE">
		<xs:complexType>	
			<xs:element name="NUMERO" type="xs:integer" minOccurs="1" maxOccurs ="1"/>
			<xs:element name="NOM" type="xs:string" minOccurs="1" maxOccurs ="1"/>
			<xs:element name="REPERTOIRE" type="xs:string" minOccurs="1" maxOccurs ="1"/>
		</xs:complexType>
	</xs:element>
</xs:element>

</xs:schema>